  <div class="container">
    <h1>Your AirBNB Homepage!</h1>
    <p>Hello <%= @user.username %>!<br>

  <form action='/post/<%= @property.id %>/save' method='post'>
    <input name="property_type" type="text" value="<%=@property.property_type%>">
    <input name="room_type" type="text" value="<%=@property.room_type%>">
    <input name="location" type="text" value="<%=@property.location%>">
    <input name="pax" type="text" value="<%=@property.pax%>">
    <input name="price" type="text" value="<%=@property.price%>">
    <input name="rating" type="text" value="<%=@property.rating%>">
    <textarea name="property_text"><%=@property.property_text%></textarea>
    <% Tag.all.each_with_index do |tag, i| %>
    <input name=<%="tags[" + tag.tag_text + "]"%> type="checkbox" > <%=tag.tag_text%>
    <% end %>
    <input type="submit" value="Submit">
  </form>
</div>