<div class="container">
  <h1>AirBNB Lite</h1>

  <table>
    <tr height="100px">
      <td>
        <form action='/' method='post'>
<p>Please Sign into your account to continue</p>
<p>Or Register for an account</p>

  </form>
    </td>
    </tr>
      <tr height="30px">
      <td align="left">
      <a href="/sign_in"><button type='submit'>Sign in</button></a>
      </td>
      </tr>
      <tr height="30px">
      <td align="left">
      <a href="/register"><button type='submit'>Register</button></a>
      </td>
    </tr>
  </table>
</div>

<div class="AllAirBnB">
<h2>All Properties on AirBnB Lite</h2>
    <table class="property_table">
      <tr>
        <th>Property Name</th>
        <th>Property Type</th>
        <th>Room Type</th>
        <th>Location</th>
        <th>No. of Guest(s)</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Additional Info</th>
      </tr>
      <% @property.each do |property| %>
        <tr>
          <td><%= property.property_name %></td>
          <td><%= property.property_type %></td>
          <td><%= property.room_type %></td>
          <td><%= property.location %></td>
          <td><%= property.pax %></td>
          <td><%= property.price %></td>
          <td><%= property.rating %></td>
          <td><%= property.property_text %></td>
         </tr>
         <% end %>
    </table>
</div>