<div class="container" align="center">
  <h1>Your AirBNB Homepage!</h1>
  <h2>Welcome <%= @user.username %></h2>
</div>

<div class="NewLogOut">
What would you like to do?
<p>
<a href='/user_page/new'><button>New Property</button></a>
<p>
<form name="Logout" action="/logout" method= "get" class="logout">
<input type="submit" value="Logout">
</form></div>

<div class="your_property">
  <h3>Your Properties</h3>
    <table class="property_table">
      <tr>
        <th>Property Name</th>
        <th>Edit/Delete</th>
        <th>Property Type</th>
        <th>Room Type</th>
        <th>Location</th>
        <th>No. of Guest(s)</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Additional Info</th>
      </tr>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.property_name %></td>
          <td><a href='/user_page/edit/<%= property.id %>'><button>Edit/Delete</button></a></td>
          <td><%= property.property_type %></td>
          <td><%= property.room_type %></td>
          <td><%= property.location %></td>
          <td><%= property.pax %></td>
          <td><%= property.price %></td>
          <td><%= property.rating %></td>
          <td><%= property.property_text %></td>
          <td><% property.tags.each do |tag| %>
              <%= tag.name %>&nbsp;
          <% end %></td>
         </tr>
         <% end %>
    </table>
  </div>
