<div class="container" align="center">
  <h1>Your AirBNB Homepage!</h1>
  <h2>Welcome <%= @user.username %></h2>
</div>

<p>What would you like to do?</p>

<a href='/user_page/new'><button>New Property</button></a>
<p>
To Edit/Delete Property
<form action="/user_page/edit" method="get">
<input name="id" type="text" value="Insert Property ID here"><input type="submit" value="Submit" class="button">
</form>
<p>
<form action="/logout" method= "get" class="logout">
<input type="submit" value="Logout">
</form>

<h3>Your Properties</h3>
    <table class="table table-responsive">
      <tr>
        <th>Property Name</th>
        <th>Property Type</th>
        <th>Room Type</th>
        <th>Location</th>
        <th>No. of Guest(s)</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Additional Info</th>
      </tr>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.property_name %></td>
          <td><%= property.property_type %></td>
          <td><%= property.room_type %></td>
          <td><%= property.location %></td>
          <td><%= property.pax %></td>
          <td><%= property.price %></td>
          <td><%= property.rating %></td>
          <td><%= property.property_text %></td>
          </td>
         </tr>
         <% end %>
    </table>
